/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-dic-2017, 14:08:47
    Author     : adoha
*/

html, body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    color: #bcbcbc;
    background: #0c0e11;
}

a{
    text-decoration: none!important;
}

.right-container{
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    top: 20px;
    right: 20px;
    background-color: #141719;
    box-shadow: 5px 5px 5px #000000b3;
    border: 1px solid #152c37;
    font-size:14px;
}

.blue{
    color: #008cd8;
}

.orange{
    color: #cc3300;
}

h4{
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 5px 5px 50px;
    font-size: 16px;
}
.container-title {
    background-repeat: no-repeat!important;
    padding: 14px 30px;
    background-color: #0c0e11;
    background-position: 30px center;
}

.container-main {
    width: 700px;
    margin: 120px auto 0 auto;
}

.container-main table {
    width:100%;
}

.container-main h2 {
    text-align: center;
    border-bottom: 3px solid #152c37;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-dark {
    margin-top:40px;
    background-color: transparent;
    color: inherit;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #152d37;
}

.table thead th {
    color: #c30;
    border-top: 0;
}
.container-main button {
    line-height: 20px;
}

h3.envio{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}
.container-main h4 {
    border-top: 2px solid #0089d3;
    text-align: right;
    padding: 20px 0;
}

.container-title h4 {
    margin:0;
}

.form-control {
    background-color: #0006;
    border-color: #152d37;
    border-radius: 2px;
    font-size:14px;
    color: #bcbcbc;
}

.form-control:focus {
    background-color: #22272a;
    border-color: #152d37;
    border-radius: 2px;
    color:white;
}

button {
    border-radius: 0!Important;
}

.btn-primary {
    background-color: #c30;
    border-color: #a42900;
}