#navbarmain {
    position: fixed;
    z-index: 1;
    top:20px;
    left:20px;
    box-shadow: 5px 5px 5px #000000b3;
    border: 1px solid #152c37;
}

.navbar {
    min-width:300px;
    background-image: url('/autopark-19k/images/AutoPark-Logo.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 25px center;
    padding-left: 118px;
    color: #c3c3c3;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.2s;
}


.bg-dark {
    background-color: #0c0e11 !important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent;
}

.list-group-item{
    background-color:transparent;
    border: 1px solid rgb(21, 44, 55);
    border-right: none !important;
    border-left: none !important;
    padding:0!important;
}

.list-group-item a {
    display:block;
    padding: .75rem 1.25rem;
}

.p-4 {
    padding-top: 0 !important;
}

#logoword {
    display: inline-block;
}

#navbarmain:hover #auto{
    color: #008cd8;
}

#navbarmain:hover #park{
    color: #cc3300;
}