#pago-tickets .container-title{
    background-image: url('https://i1.wp.com/gene-it.nl/wp-content/uploads/2015/12/blue-heading-icons_tickets.png?fit=600%2C600&ssl=1&w=640');
    background-size: auto 35px;
}
#datos-personales, #datos-pago, #boucher {
    padding:30px;
}


#datos-pago, #boucher {
    display:none;
}

.est, .tickets {
    position:relative;
}

.est label, .removeTicket, .addTicket{
    width:100%;
    background: #008cd8;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px black;
    font-family: Helvetica;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    background-image: url(http://www.willowsigns.com/images/products/parking-icon-reflective-sign-450x450mm-RdXH.png);
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 6px center;
    padding-left: 46px;
    text-align: left;
    border:none;
    transition: 0.2s;
    cursor:pointer;
}

.est label:hover, .estInputHovered, .removeTicket  {
    background-color: #cc3400!important;
}

.removeTicket:hover  {
    background-color: #152c37!important;
}
.add {
    opacity: 0;
    position: absolute;
    z-index: 19;
    color: white;
    font-size: 27px;
    top: -2px;
    font-weight: bold;
    right: 15px;
    transition: 0.3s;
    pointer-events: none;
}

.est label:hover + .add, .add:hover, .removeTicket:hover + .add {
    opacity: 1;
}

.est input[type=radio], .tickets input[type=radio] {
    visibility: hidden;
    position:absolute;
    margin:0;
}